@using Cinema.Payment.LiqPay
@model LiqPayCheckoutFormModel

@{
    ViewBag.Title = "Придбати квитки";
}

<div class="bg-100-image"></div>
<h2 class="position-relative text-white text-center display-4">Будь ласка, зачекайте...</h2>

<form id="liqpayForm" method="POST" accept-charset="utf-8" action="https://www.liqpay.ua/api/3/checkout">
    <input type="hidden" name="data" value="@Model.Data" />
    <input type="hidden" name="signature" value="@Model.Signature" />
</form>

@section scripts{
    <script>
        $(function () {
            $("#liqpayForm").submit();
        })
    </script>
}