
@{
    ViewBag.Title = "Помилка оплати";
}

<div class="bg-100-color"></div>
<div class="container text-center position-relative text-white">
    <i class="icon-error-light display-3"></i>
    <h2>Сталась помилка під час оплати. Спробуй, будь ласка, ще</h2>
</div>
