
@{
    ViewBag.Title = "Квитки успішно заброньовані!";
}

<div class="bg-100-image"></div>

<div class="reserve-container text-center position-relative text-white">
    <h2 class="display-4">Квитки успішно заброньовані!</h2>
    <h4>Викупіть їх на касі кінотеатру назвавши номер замовлення за 30 хвилин до початку сеансу</h4>
    <div class="m-3">
        <div class="m-2">Номер замовлення можна знайти в особистому кабінеті</div>
        <a href="@Url.Action("Index","Profile")" class="btn yellow-btn" style="font-size:20px">Особистий кабінет</a>
    </div>
</div>