
@{
    ViewBag.Title = "Квитки успішно заброньовані!";
}

<h2>Квитки успішно заброньовані!</h2>
<h4>Викупіть їх через сайт в особистому кабінеті, або на касі кінотеатру назвавши номер замовлення (за 30 хвилин до початку сеансу)</h4>
