@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav">
            <li class="nav-item">
                @Html.ActionLink("Привіт, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link", title = "Manage" })
            </li>
            <li class="nav-item"><a class="nav-link" , href="javascript:document.getElementById('logoutForm').submit()">Вийти</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li class="nav-item">
            @Html.ActionLink("Реєстрація", "Register", "Account", null, new { @class = "nav-link", id = "registerLink" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Увійти", "Login", "Account", null, new { @class = "nav-link", id = "loginLink" })
        </li>
    </ul>
}
