@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблоковано";
}

<div class="bg-100-color"></div>
<div class="container text-center position-relative text-white">
    <i class="icon-mood-bad display-3"></i>
    <h2>Цей аккаунт був тимчасово заблокований, будь ласка, повтроіть спробу пізніше.</h2>
</div>

