@{
    ViewBag.Title = "Помилка";
}

<div class="bg-100-color"></div>
<div class="container text-center position-relative text-white">
    <i class="icon-error-light display-3"></i>

    @{
        if (String.IsNullOrEmpty(ViewBag.Message))
        {
            <h2>Сталась помилка під час оправцювання запиту</h2>
        }
        else
        {
            <h2>@ViewBag.Message</h2>
        }
    }
</div>