@using Cinema.Data.Database
@model IEnumerable<CinemaEntity>

@{
    ViewBag.Title = "Кінотеатри";
}

<h1>Кінотеатри</h1>
<ul class="list-group">
    @{
        foreach (var item in Model)
        {
            @Html.ActionLink(item.Name, "Details", "Cinema", new { name = item.Keyword }, new { @class = "list-group-item" })
        }
    }
</ul>