
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* --- головні класи ---*/
.logo-small {
    background: url(WebsiteImage/Logo/logo.svg) no-repeat center;
    background-size: auto 100%;
}

.logo-full {
    background: url(WebsiteImage/Logo/full_logo.svg) no-repeat center;
    background-size: auto 100%;
}


/* --- /home/index/ main ---*/
/* --- /home/index/ main ---*/
/* --- /home/index/ main ---*/

.home-body {
    background: url(WebsiteImage/Background/page_home_background.png) no-repeat center center fixed;
    background-size: cover;
}

/* - /home/index/ menu -*/
.home-nav-item {
    min-width: 50px;
    min-height: 50px;
    display: block;
    border-radius: 50%;
    background-color: #3C3A41;
    line-height: 50px;
    color: #C6C6C6;
    transition:200ms;
}

    .home-nav-item:hover {
        text-decoration: none;
        background-color: #959595;
        color: #FFFF00;
    }

.home-navbar {
    background: linear-gradient(#020107, #0F0D14);
    height: 100px;
}


    .home-navbar .logo-full {
        max-width: 500px;
        height: 75%;
        flex: 1;
    }


/* - /home/index/ content -*/
.home-container {
    min-width: 30rem;
    width: 50%;
    min-height: calc(100% - 100px);
    background-color: rgba(8, 6, 14, 0.85);
}

    .home-container .logo-small {
        min-height: 10rem;
        margin: 2rem 0 1rem 0;
    }

    .home-container .home-btn {
        font-family: Arial Regular;
        font-size: 1.6rem;
        color: #AFADAF;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: .5rem;
        margin: 1rem 15%;
        max-width: 55.5rem;
        background-color: rgba(56,56,56,.50);
    }

        .home-container .home-btn:hover {
            color: #FFF324;
        }

.home-additional-menu .home-nav-item {
    margin: 0 2%;
}


@media only screen and (max-width:600px) {
    /*html, body {
        font-size: 12.5px;
    }*/

    .home-navbar .logo-full {
        max-width: 100px;
        height: 100%;
        background-image: url(WebsiteImage/Logo/logo.svg);
    }

    .home-container {
        min-width: initial;
        width: 100%;
    }

        .home-container .logo-small {
            background-image: url(WebsiteImage/Logo/full_logo.svg);
            min-height: 2.5rem;
        }

        .home-container .home-btn {
            margin: 1rem 10%;
        }
}

@media only screen and (min-width:1600px) {
    /*html, body {
        font-size: 25px;
    }*/

    .home-container {
        min-height: calc(100% - 200px);
    }

    .home-navbar {
        height: 200px;
    }

        .home-navbar .logo-full {
            max-width: 750px;
            height: 50%;
        }

    /*.home-nav-item {
        min-width: 100px;
        min-height: 100px;        
    }*/

    .home-container .home-btn {
        margin: 1rem 10%;
    }
}

/* --- SEATS --- */
.navbar {
    background-color: #0A0813;
    height: 60px;
    padding: 0;
}

.nav-item .menu-img {
    margin-right: 15px;
    margin-left: 5px;
}

.menu-item {
    margin: 0 10px;
}

.menu-btn {
    cursor: pointer;
}

.navbar-brand {
    padding-left: 0.3125rem;
}

.sum-seat-container {
    padding: 10px;
    border: 1px solid black;
    min-width: 35em;
    font-size: 2vw;
}

.seat-screen {
    height: 1.5em;
    background-color: azure;
    color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat-container {
    /*border: 1px dashed black;*/
    margin: 0 auto;
    border-radius: .5em;
    position: relative;
    height: calc(22em - 1.5em);
    width: 35em;
}

.seat {
    border-radius: .3em;
    background-color: royalblue;
    width: 2em;
    height: 3em;
    position: absolute;
    cursor: pointer;
}

.seat-sofa {
    background-color: limegreen;
    width: 4em;
    height: 2.5em
}

.seat-lux {
    background-color: orange;
}

.seat-super-lux {
    background-color: darkblue;
    width: 2.5em
}

.place-taken {
    background-color: lightgrey;
    cursor: default;
}

.place-choosen {
    background-color: yellow;
}






/* --- /movie/index/ --- */
/* --- /movie/index/ --- */
/* --- /movie/index/ --- */

.movie-list-container {
    margin: 0;
    min-height: 100%;
    /*background: url(WebsiteImage/Background/page_home_background.png) no-repeat center center fixed;
    background-size: cover;*/
}

.movie-list-item {
    display: block;
    height: 350px;
    background-size: cover !important;
    border: 1px solid #0F0D14;
    /*margin:15px 0;*/
}

    .movie-list-item a {
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
        color: white;
        /*-webkit-text-stroke: 1.5px black;*/
        text-shadow: 2px 2px 1px #0A0813, -2px -2px 1px #0A0813, 2px -2px 1px #0A0813, -2px 2px 1px #0A0813;
        position: absolute;
        bottom: 25px;
        right: 25px;
        left: 25px;
        transition: 200ms;
    }

        .movie-list-item a:hover {
            /*-webkit-text-stroke-width: 0;*/
            /*text-shadow: none;*/
            text-shadow: 1px 1px 0 #0A0813, -1px -1px 0 #0A0813, 1px -1px 0 #0A0813, -1px 1px 0 #0A0813;
            color: #FFF324;
        }

.bg-movie {
    background-color: rgb(31, 11, 62);
    color: white;
    padding: 15px;
}

    .bg-movie h4 {
        color: rgba(255, 255, 255, 0.75);
    }

.movie-list-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(WebsiteImage/Background/page_home_background.png) no-repeat center center fixed;
    background-size: cover;
}



.profile-nav {
    width: 60px;
    height: 60px;
    border-left: 1px solid #A2A2A2;
    /*background-color: red;*/
}

.profile-nav-img {
    text-align: center;
    display: block;
    line-height: 45px;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: #3B3942;
    color: #C6C6C6;
    /*border: 1px solid black;*/
    border-radius: 50%;
    /*background: url(profile_icon.png) no-repeat center;
    background-size: cover;*/
    transition: 200ms;
}

    .profile-nav-img:hover {
        text-decoration: none;
        background-color: #959595;
        color: #FFFF00;
    }

div .icon-chevron-right {
    display: inline-block;
    transform: scale(2, 2);
    margin-right: 5px;
}

.icon-chevron-right {
    color: white;
}

.main-header .navbar-nav {
    line-height: 60px;
}

.header-title {
    margin-left: 15px;
    height: 60px;
}

.nav-item .header-item {
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: 200ms;
}

    .nav-item .header-item:hover {
        color: #FFF324;
    }

.icon-main-menu {
    display: inline-block;
    font-size: 20px;
    transform: translateY(5px);
    transition: 200ms;
}

    .icon-main-menu:hover {
        color: #FFFF00;
    }

.home-nav-item.icon-profile {
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    width: initial;
    height: initial;
    background-color: #3B3942;
    color: #C6C6C6;
    /*border: 1px solid black;*/
    border-radius: 50%;
    /*background: url(profile_icon.png) no-repeat center;
    background-size: cover;*/
    transition: 200ms;
}
