a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* --- головні класи ---*/
.logo-small {
    background: url(WebsiteImage/Logo/logo.svg) no-repeat center;
    background-size: auto 100%;
}

.logo-full {
    background: url(WebsiteImage/Logo/full_logo.svg) no-repeat center;
    background-size: auto 100%;
}


/* --- /home/index/ main ---*/
/* --- /home/index/ main ---*/
/* --- /home/index/ main ---*/

.home-body {
    background: url(WebsiteImage/Background/page_home_background.png) no-repeat center center fixed;
    background-size: cover;
}

/* - /home/index/ menu -*/
.home-nav-item {
    min-width: 50px;
    min-height: 50px;
    display: block;
    border-radius: 50%;
    background-color: #3C3A41;
    line-height: 50px;
    color: #C6C6C6;
    transition: 200ms;
}

    .home-nav-item:hover {
        text-decoration: none;
        background-color: #959595;
        color: #FFFF00;
    }

.home-navbar {
    background: linear-gradient(#020107, #0F0D14);
    height: 100px;
}


    .home-navbar .logo-full {
        max-width: 500px;
        height: 75%;
        flex: 1;
    }


/* - /home/index/ content -*/
.home-container {
    min-width: 30rem;
    width: 50%;
    min-height: calc(100% - 100px);
    background-color: rgba(8, 6, 14, 0.85);
}

    .home-container .logo-small {
        min-height: 10rem;
        margin: 2rem 0 1rem 0;
    }

    .home-container .home-btn {
        font-family: Arial Regular;
        font-size: 1.6rem;
        color: #AFADAF;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: .5rem;
        margin: 1rem 15%;
        max-width: 55.5rem;
        background-color: rgba(56,56,56,.50);
    }

        .home-container .home-btn:hover {
            color: #FFF324;
        }

.home-additional-menu .home-nav-item {
    margin: 0 2%;
}


@media only screen and (max-width:600px) {
    /*html, body {
        font-size: 12.5px;
    }*/

    .home-navbar .logo-full {
        max-width: 100px;
        height: 100%;
        background-image: url(WebsiteImage/Logo/logo.svg);
    }

    .home-container {
        min-width: initial;
        width: 100%;
    }

        .home-container .logo-small {
            background-image: url(WebsiteImage/Logo/full_logo.svg);
            min-height: 2.5rem;
        }

        .home-container .home-btn {
            margin: 1rem 10%;
        }
    .sum-seat-container {
        font-size: 3vw !important;
    }
    .session-container{
        overflow:auto;
    }
}

@media only screen and (min-width:1600px) {
    /*html, body {
        font-size: 25px;
    }*/

    .home-container {
        min-height: calc(100% - 200px);
    }

    .home-navbar {
        height: 200px;
    }

        .home-navbar .logo-full {
            max-width: 750px;
            height: 50%;
        }

    /*.home-nav-item {
        min-width: 100px;
        min-height: 100px;        
    }*/

    .home-container .home-btn {
        margin: 1rem 10%;
    }
}

/* --- SEATS --- */
.navbar {
    background-color: #0A0813;
    height: 60px;
    padding: 0;
}

.nav-item .menu-img {
    margin-right: 15px;
    margin-left: 5px;
}

.menu-item {
    margin: 0 10px;
}

.menu-btn {
    cursor: pointer;
}

.navbar-brand {
    padding-left: 0.3125rem;
}

.session-container {
    background-color: #0A0813;
    border:1px solid #ffff00;
}
.sum-seat-container {
    padding: 10px;
    /*border: 1px solid black;*/
    min-width: 35em;
    font-size: 1.75vw;
}


.seat-screen {
    height: 1.5em;
    background-color: #3B3942;
    color: #C6C6C6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat-container {
    /*border: 1px dashed black;*/
    margin: 0 auto;
    border-radius: .5em;
    position: relative;
    height: calc(22em - 1.5em);
    width: 35em;
}

.seat {
    border-radius: .3em;
    background-color: royalblue;
    width: 2em;
    height: 3em;
    position: absolute;
    cursor: pointer;
}

.seat-sofa {
    background-color: limegreen;
    width: 4em;
    height: 2.5em
}

.seat-lux {
    background-color: orange;
}

.seat-super-lux {
    background-color: darkblue;
    width: 2.5em
}

.place-taken {
    background-color: lightgrey;
    cursor: default;
}

.place-choosen {
    background-color: #ffff00;
}






/* --- /movie/index/ --- */
/* --- /movie/index/ --- */
/* --- /movie/index/ --- */

.movie-list-container {
    margin: 0;
    min-height: 100%;
    /*background: url(WebsiteImage/Background/page_home_background.png) no-repeat center center fixed;
    background-size: cover;*/
}

.movie-list-item {
    display: block;
    height: 350px;
    background-size: cover !important;
    border: 1px solid #0A0813;
    overflow: hidden;
    background-color: #0A0813;
    /*margin:15px 0;*/
}

    .movie-list-item a.movie-details {
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
        color: white;
        /*-webkit-text-stroke: 1.5px black;*/
        text-shadow: 2px 2px 1px #0A0813, -2px -2px 1px #0A0813, 2px -2px 1px #0A0813, -2px 2px 1px #0A0813;
        position: absolute;
        bottom: 25px;
        right: 25px;
        left: 25px;
        transition: 200ms;
    }

        .movie-list-item a.movie-details:hover {
            /*-webkit-text-stroke-width: 0;*/
            /*text-shadow: none;*/
            text-shadow: 1px 1px 0 #0A0813, -1px -1px 0 #0A0813, 1px -1px 0 #0A0813, -1px 1px 0 #0A0813;
            color: #FFF324;
        }

.bg-movie {
    background-color: rgb(31, 11, 62);
    color: white;
    padding: 15px;
}

    .bg-movie h4 {
        color: rgba(255, 255, 255, 0.75);
    }


.profile-nav {
    width: 60px;
    height: 60px;
    border-left: 1px solid #A2A2A2;
    /*background-color: red;*/
}

.profile-nav-img {
    text-align: center;
    display: block;
    line-height: 35px;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: #3B3942;
    color: #C6C6C6;
    /*border: 1px solid black;*/
    border-radius: 50%;
    /*background: url(profile_icon.png) no-repeat center;
    background-size: cover;*/
    transition: 200ms;
}

    .profile-nav-img:hover {
        text-decoration: none;
        background-color: #959595;
        color: #FFFF00;
    }

div .icon-chevron-right {
    display: inline-block;
    transform: scale(2, 2);
    margin-right: 5px;
}

.icon-chevron-right {
    color: white;
}

.main-header .navbar-nav {
    line-height: 60px;
}

.header-title {
    margin-left: 15px;
    height: 60px;
}

.nav-item .header-item {
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-size: 24px;
    transition: 200ms;
}

    .nav-item .header-item h1 {
        font-size: 24px;
        display: inline;
    }

    .nav-item .header-item:hover {
        color: #FFF324;
    }

.icon-main-menu {
    display: inline-block;
    font-size: 20px;
    transform: translateY(5px);
    color: white;
    transition: 200ms;
}

    .icon-main-menu:hover {
        color: #FFFF00;
    }

.home-nav-item.icon-profile {
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    width: initial;
    height: initial;
    background-color: #3B3942;
    color: #C6C6C6;
    /*border: 1px solid black;*/
    border-radius: 50%;
    /*background: url(profile_icon.png) no-repeat center;
    background-size: cover;*/
    transition: 200ms;
}

.menu-header-cinema-btn {
    cursor: pointer;
    /*margin: 0 15px;*/
    padding-left: 15px;
    border-left: 1px solid #A2A2A2;
    color: white;
    font-size: 24px;
    font-weight: 500;
    /*width:60px;*/
}

.menu-header-cinema-btn {
}

.chevron-down-container {
    text-align: center;
    display: block;
    line-height: 35px;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: #3B3942;
    color: #C6C6C6;
    border-radius: 50%;
    transition: 200ms;
}

    .chevron-down-container:hover {
        background-color: #959595;
        color: #FFFF00;
    }

    .chevron-down-container .icon-chevron-down {
        display: inline-block;
        transform: scale(2,2);
    }

.chevron-down-btn-wrapper {
    width: 60px;
    height: 60px;
    padding: 13px;
}

.menu-header-cinema-dropdown {
    background-color: #0A0813;
}

    .menu-header-cinema-dropdown .dropdown-item {
        cursor: pointer;
        color: white;
    }

        .menu-header-cinema-dropdown .dropdown-item:hover,
        .menu-header-cinema-dropdown .dropdown-item:active,
        .menu-header-cinema-dropdown .dropdown-item:focus {
            background-color: #3B3942;
        }

        .menu-header-cinema-dropdown .dropdown-item.active {
            background-color: #FFFF00;
            color: #0A0813;
        }

@media (max-width: 991px) {
    .collapsible {
        display: none;
    }

    .profile-nav {
        border-left: unset;
    }
}

.movie-item-poster {
    background-size: cover !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.movie-item-info {
    color: white;
    position: absolute;
    color: white;
    right: 0;
    left: 0;
    display: none;
    /*top:0;
    bottom:0;
    right:0;
    left:0;*/
}

.mii-top .icon-play-trailer, .mii-top .icon-more-info {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    border-radius: 50%;
    background-color: #959595;
    transition: 200ms;
    margin-right: 10px;
    margin-top: -6px;
    text-shadow: 2px 2px 1px #0A0813;
}

    .mii-top .icon-play-trailer:hover, .mii-top .icon-more-info:hover {
        background-color: #AEAEAE;
        color: #FFFF00;
        text-shadow: 1px 1px 0 #0A0813;
    }

.mii-top {
    margin: 25px 0 0 0;
}

    .mii-top a {
        font-size: 13px;
        line-height: 1;
        font-weight: 500;
        color: white;
    }

.mii-center-header {
    line-height: 1.25;
    font-weight: 500;
}

.mii-center-cinema {
    font-size: 40px;
}

.mii-center-day {
    font-size: 20px;
    cursor: pointer;
    color: #FFFF00;
}

.mii-center {
    min-height: 75px;
    margin: 25px 0;
}

.mii-center-day-selector {
    background-color: #AEAEAE;
    height: 75px;
    display: flex;
    margin: 10px 0;
    font-weight: 500;
    overflow: hidden;
}

    .mii-center-day-selector .date-of-week {
        color: #484747;
        cursor: pointer;
        transition: 200ms;
    }

        .mii-center-day-selector .date-of-week:hover {
            color: white;
        }

        .mii-center-day-selector .date-of-week.selected-day {
            color: white;
        }

            .mii-center-day-selector .date-of-week.selected-day .dow-header {
                color: #FFFF00;
            }

.mii-schedule {
    font-size: 15px;
    font-weight: 500;
}

.mii-schedule-header {
    font-size: 17.5px;
}

.mii-schedule-content, .no-schedule {
    margin: 10px 0;
}

    .mii-schedule-content .mii-schedule-session {
        color: #FFFF00;
    }

        .mii-schedule-content .mii-schedule-session:hover {
            color: white;
        }

    .no-schedule .no-schedule-select {
        color: #FFFF00;
        cursor: pointer;
    }

.cinema-background-container {
    height: 280px;
    background-size: cover !important;
}

.cinema-info-background-container {
    color: white;
    height: 150px;
    background: url(WebsiteImage/Background/cinema-info.png) no-repeat center;
    background-size: cover;
    font-weight: 500;
}

.ci-cinema-name {
    /*font-size: 75px;*/
    line-height: 1;
}

.ci-main {
    font-size: 20px;
    transition: 200ms;
}

    .ci-main:hover {
        color: #FFFF00;
    }

.ci-muted {
    font-size: 15px;
    color: #C7C7C7;
}

.cinema-schedule-days-container {
    background-color: #A2A2A2;
}

.csd-header {
    padding: 10px;
    margin: 0;
}

.csd-select-container {
    font-size: 17.5px;
    font-weight: 500;
    color: #454545;
    overflow: auto;
}

.csd-day-container {
    transition: 200ms;
    cursor: pointer;
    padding: 0 10px;
}

    .csd-day-container:hover {
        color: white;
    }

    .csd-day-container .csd-day-of-week {
        color: white;
    }

.yellow-circle {
    opacity: 0;
    margin: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFF324;
    transition: 200ms;
}

.csd-selected .csd-date {
    transition: 200ms;
    color: #FFF324;
}

.csd-selected .yellow-circle {
    opacity: 1;
}

.cinema-schedule-full-container {
    padding-top: 50px;
}

.csf-movie-poster {
    width: 142px;
    height: 214px;
    /*background: url(Poster/4Ho2vcwcNK1iqPqxpJdUeskeSqq.jpg) no-repeat center;*/
    background-size: cover !important;
    margin-right: 10px;
}

.csf-movie-container {
    margin-bottom: 50px;
}

    .csf-movie-container a {
        transition: 200ms;
        color: #323232;
        font-weight: 500;
    }

.csf-movie-name {
    /*margin-left:10px;*/
    padding: 1px 5px;
    font-size: 25px;
}

    .csf-movie-name:hover {
        background-color: #FFF324;
    }

.csf-movie-times {
    /*margin-left:10px;*/
}

    .csf-movie-times a {
        letter-spacing: -1.1px;
        margin-right: 10px;
        padding: 1px 5px;
        font-size: 20px;
        font-weight: 500;
    }

        .csf-movie-times a:hover {
            background-color: #FFF324;
        }

.csf-data {
    display: none;
}

    .csf-data.csf-selected {
        display: flex;
    }

.cimena-map-container {
    width: 100%;
    height: 400px;
}

.cinema-contact-container {
    padding: 25px 0;
    background: url(WebsiteImage/Background/cinema-info.png) no-repeat center;
    background-size: cover;
    color: white;
    font-weight: 500;
}

    .cinema-contact-container .ci-main {
        font-size: 25px;
    }

    .cinema-contact-container .ci-muted {
        font-size: 20px;
    }

    .cinema-contact-container h2 {
        margin-bottom: 25px;
    }

.cinema-contact-description {
    font-size: 20px;
    margin-top: 25px;
}

.cinema-item-image {
    height: 200px;
    background-size: cover !important;
}

.cinema-item-data {
    padding: 20px;
    background-color: #0A0813;
    /*margin-top: -10px;
    border-radius: 10px 10px;*/
    color: white;
}

    .cinema-item-data a {
        color: white;
    }

        .cinema-item-data a:hover {
            color: #FFF324;
        }

.cinema-check-schedule {
    border: 1px solid #FFF324;
}

.cinema-item-container {
    /*margin-bottom: 25px;*/
    border-bottom: 5px dashed #FFF324;
}

    .cinema-item-container:last-child {
        margin: 0;
        border: 0;
    }

.cinema-item-body {
    background-color: #0A0813;
}

.bg-100-image {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(WebsiteImage/Background/page_home_background.png) no-repeat center center fixed;
    background-size: cover !important;
}

.bg-100-color {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #0A0813 no-repeat center center fixed;
    /*background-color:rgba(10,8,19,.8)*/
    background-size: cover;
}

.login-container {
    overflow-x: hidden;
    color: white;
}

    .login-container .control-label {
        font-size: 20px;
    }

    .login-container .form-control {
        font-size: 20px;
        margin: 0 auto;
    }

    .login-container .yellow-btn {
        font-size: 20px;
    }

    .login-container h2 {
        padding: 25px 0;
        margin: 0;
    }

    .login-container a {
        color: #FFF324;
    }

        .login-container a:hover {
            color: white;
        }

.yellow-btn {
    border: 1px solid #FFF324;
    background-color: transparent;
    color: white;
}

    .yellow-btn:hover {
        color: #FFF324;
    }

.icon-error, .icon-error-light {
    color: #ff2424;
}

.icon-mood-bad {
    color: #ff9324;
}

a#loginLink {
    color: #FFF324;
}

    a#loginLink:hover {
        color: white;
    }

.icon-mood-happy {
    color: #24ff3f;
}

.movie-info-container {
    padding: 25px 25px;
}

    .movie-info-container .col-md-6 {
        font-weight: 500;
    }

        .movie-info-container .col-md-6 dt {
            text-decoration: underline;
        }

.play-trailer-btn {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #555555;
    border-radius: 10px;
    color: #959595;
    background-color: #0A0813;
    transition: 200ms;
    font-weight: 500;
}

    .play-trailer-btn div {
        display: inline-block;
    }

    .play-trailer-btn .icon-play-trailer {
        transition: 200ms;
        color: #BABABA;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        border-radius: 50%;
        background-color: #555555;
        margin-top: -6px;
        text-shadow: 2px 2px 1px #0A0813;
    }

    .play-trailer-btn:hover {
        border-color: #FFFF00;
        color: #FFFF00;
    }

        .play-trailer-btn:hover .icon-play-trailer {
            color: #FFFF00;
            text-shadow: 1px 1px 0 #0A0813;
        }
/*#979799*/

.movie-schedule-date .csd-selected .csd-day-of-week {
    color: white;
}

.movie-schedule-date .csd-select-container {
    border: 1px solid #555555;
    color: #979799;
    background-color: #0A0813;
}

.movie-schedule-date .csd-day-of-week {
    color: unset;
}

.movie-schedule-full {
    /*padding-left: 25px;*/
}

    .movie-schedule-full .csf-data.csf-selected {
        display: block;
    }

    .movie-schedule-full .csf-movie-times a {
        margin: 0;
    }

    .movie-schedule-full .csf-movie-container {
        margin-top: 25px;
    }

        .movie-schedule-full .csf-movie-container a {
            color: white;
            font-weight: 500;
        }

        .movie-schedule-full .csf-movie-container .csf-movie-times a {
            transition: 200ms;
            color: #FFFF00;
            font-weight: 500;
        }

            .movie-schedule-full .csf-movie-container .csf-movie-times a:hover {
                color: white;
                background-color: unset;
            }

.movie-comments-container h3 {
    text-decoration: underline;
}

.movie-comments-container textarea, .movie-comments-container input, .movie-comments-container select, .movie-comments-container option {
    background-color: #0A0813;
    border-color: #BBBBBC;
    color: white;
}

    .movie-comments-container textarea:focus, .movie-comments-container input:focus, .movie-comments-container select:focus, .movie-comments-container option:focus {
        background-color: #0A0813;
        border-color: #BBBBBC;
        color: white;
    }

textarea:focus, input:focus, select:focus, option:focus, button:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 243, 37, 0.25) !important;
}

.comment-user-img {
    background-color: white;
    border: 1px solid black;
    margin: 5px 15px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(UserData/default-user.png) no-repeat center;
    background-size: cover !important;
}

.comment-textarea {
    width: calc(100% - 80px);
}

#formComment {
    margin: 25px 0;
}

#formSelect > * {
    max-width: 150px;
    margin: 10px 5px;
}

#formSelect button:last-child {
    margin-right: 0;
}

#comments .comment {
    margin-bottom: 15px;
}

    #comments .comment .comment-username {
        font-size: 17.5px;
        font-weight: 500;
    }

    #comments .comment .comment-date {
        font-size: 12.5px;
        color: #979799;
    }

    #comments .comment .comment-delete {
        cursor:pointer;
        font-size: 17.5px;
    }

    #comments .comment .comment-additional > * {
        font-size: 17.5px;
        margin-right: 10px;
    }
#comment-template{
    display:none !important;
}
.yellow-link {
    color: #FFFF00;
}

.yellow-link:hover {
    color: white;
}

.table th, .table td{
    border-color:#ffff00 !important;
}


.grey-btn {
    border: 1px solid #C6C6C6;
    background-color: transparent;
    color: white;
}

    .grey-btn:hover {
        color: #C6C6C6;
    }

.processed-container .yellow-btn, .processed-container .grey-btn{
    font-size: 20px;
    padding: 5px 15px;
    border-width: 2px;
}

.processed-container .cinema-info-background-container, .session-wrapper .cinema-info-background-container {
    background: rgb(10,8,19);
    border-top: 2px dashed #ffff00;
    border-bottom: 2px dashed #ffff00;
    margin-bottom: 20px;
}

/*session-wrapper*/