/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* --- головні класи ---*/
.logo-small {
    background: url(WebsiteImage/Logo/logo.svg) no-repeat center;
    background-size: auto 100%;
}

.logo-full {
    background: url(WebsiteImage/Logo/full_logo.svg) no-repeat center;
    background-size: auto 100%;
}


/* --- /home/index/ main ---*/
/* --- /home/index/ main ---*/
/* --- /home/index/ main ---*/

.home-body {
    background: url(WebsiteImage/Background/page_home_background.png) no-repeat center center fixed;
    background-size: cover;
}

/* - /home/index/ menu -*/
.home-nav-item {
    min-width: 50px;
    min-height: 50px;
    border: 3px dashed white;
    cursor: pointer;
}

.home-navbar {
    background: linear-gradient(#020107, #0F0D14);
    height: 100px;
}

    .home-navbar .logo-full {
        max-width: 500px;
        height: 75%;
        flex: 1;
    }


/* - /home/index/ content -*/
.home-container {
    min-width: 30rem;
    width: 50%;
    min-height: calc(100% - 100px);
    background-color: rgba(8, 6, 14, 0.85);
}

    .home-container .logo-small {
        min-height: 10rem;
        margin: 2rem 0 1rem 0;
    }

    .home-container .home-btn {
        font-family: Arial Regular;
        font-size: 1.6rem;
        color: #AFADAF;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: .5rem;
        margin: 1rem 15%;
        max-width: 55.5rem;
        background-color: rgba(56,56,56,.50);
    }

        .home-container .home-btn:hover {
            color: #FFF324;
        }

.home-additional-menu .home-nav-item {
    margin: 0 2%;
}


@media only screen and (max-width:600px) {
    html, body {
        font-size: 12.5px;
    }

    .home-navbar .logo-full {
        max-width: 100px;
        height: 100%;
        background-image: url(WebsiteImage/Logo/logo.svg);
    }

    .home-container {
        min-width: initial;
        width: 100%;
    }

        .home-container .logo-small {
            background-image: url(WebsiteImage/Logo/full_logo.svg);
            min-height: 2.5rem;
        }

        .home-container .home-btn {
            margin: 1rem 10%;
        }
}

@media only screen and (min-width:1600px) {
    html, body {
        font-size: 25px;
    }

    .home-container {
        min-height: calc(100% - 200px);
    }

    .home-navbar {
        height: 200px;
    }

        .home-navbar .logo-full {
            max-width: 750px;
            height: 50%;
        }

    .home-nav-item {
        min-width: 100px;
        min-height: 100px;
    }

    .home-container .home-btn {
        margin: 1rem 10%;
    }
}













.navbar {
    background-color: #0F0D14;
    padding: 0 0.25rem;
}

.sum-seat-container {
    padding: 10px;
    border: 1px solid black;
    min-width: 35em;
    font-size: 2vw;
}

.seat-screen {
    height: 1.5em;
    background-color: azure;
    color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat-container {
    /*border: 1px dashed black;*/
    margin: 0 auto;
    border-radius: .5em;
    position: relative;
    height: calc(22em - 1.5em);
    width: 35em;
}

.seat {
    border-radius: .3em;
    background-color: royalblue;
    width: 2em;
    height: 3em;
    position: absolute;
    cursor: pointer;
}

.seat-sofa {
    background-color: limegreen;
    width: 4em;
    height: 2.5em
}

.seat-lux {
    background-color: orange;
}

.seat-super-lux {
    background-color: darkblue;
    width: 2.5em
}
