@{
    ViewBag.Title = "Помилка 400 (Bad Request)";
}

<div class="bg-100-color"></div>
<div class="container text-center position-relative text-white">
    <i class="icon-mood-neutral display-3"></i>
    <h2>Помилка 400. Поганий запит</h2>
</div>