@{
    ViewBag.Title = "Помилка 404 (Not Found)";
}

<div class="bg-100-color"></div>
<div class="container text-center position-relative text-white">
    <i class="icon-mood-neutral display-3"></i>
    <h2>Помилка 404. Сторінку не знайдено</h2>
</div>